<div class="home__container">
	<app-card
		gameCover="assets/mario-world.png"
		gameLabel="N E W"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 305,00"
	>
	</app-card>
	<app-card
		gameCover="assets/pokemon.png"
		gameLabel="EDITION LIMITED"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 209,99"
	>
	</app-card>
	<app-card
		gameCover="assets/crash.png"
		gameLabel="CRASH 3 Games"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 269,99"
		>
	</app-card>
	<app-card
		gameCover="assets/switch.png"
		gameLabel="NINTENDO Switch™"
		gameType="CONSOLE | Azul/Vermelho Neon"
		gamePrice="R$ 2.399.99"
	>
	</app-card>

	<app-card
		gameCover="assets/snow-runner.png"
		gameLabel="SPECIAL COLECTION"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 309.99"
	>
	</app-card>
	<app-card
		gameCover="assets/sonic.png"
		gameLabel="SONIC FORCES"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 99,99"
	>
	</app-card>
	<app-card
		gameCover="assets/30in1.png"
		gameLabel="NEW EDITION / VOL.2"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 149,98"
	>
	</app-card>
	<app-card
		gameCover="assets/bomberman.png"
		gameLabel="Super B O O M"
		gameType="DIGITAL | Switch™"
		gamePrice="R$ 125.90"
	>
	</app-card>

	
</div>

